<div class="container">
 <div class="row">
   <div class="col-md-4">
    <h1>Productos</h1>
   </div>
   <div class="col-md-8">
     <h3 class="mb-3">Lista de Productos</h3>
     <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">ID</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
        
          {{ item.name }}
        </td>
        <td>{{ item.id }}</td>
        <td>{{ item.price }}</td>
        <td>
          <button class="btn btn-success"><fa-icon [icon]="icons.faEdit"></fa-icon></button>
          <button class="btn btn-danger ml-1"><fa-icon [icon]="icons.faTrash"></fa-icon></button>
        </td>
      </tr>
      </tbody>
    </table>
   </div>
 </div>





</div>
